body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
